@use './variables' as *;

// Center using flexbox
@mixin flex-center($gap: 0) {
	display: flex;
	justify-content: center;
	align-items: center;
  gap: $gap;
}

// Card button styles
@mixin card-btn() {
  display: block;
  width: 100%;
  padding: 1em 0;
  border-radius: $border-radius-sm;
  border: none;
  background-color: $btn-clr;
  color: $card-bg-clr;
  font-weight: $fw-bold;
  cursor: pointer;
}

@mixin btn-active {
  &:active {
    background-color: $btn-clr-active;
  }
}

@mixin btn-hover {
  &:hover,
  &:focus {
    background-color: lighten($btn-clr, 10%);
    outline: 3px solid black;
  }
}
