@use './variables' as *;

@mixin flex-center($gap: 0) {
	display: flex;
	justify-content: center;
	align-items: center;
  gap: $gap;
	// min-height: 100svh;
}

@mixin sr-only($content: '', $location) {
	del::#{$location} {
		content: $content;
		position: absolute;
		clip-path: inset(100%);
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		width: 1px;
		overflow: hidden;
		white-space: nowrap;
	}
}

@mixin card-btn() {
  display: block;
  width: 100%;
  padding: 1em 0;
  border-radius: $border-radius-sm;
  border: none;
  background-color: $btn-clr;
  color: $card-bg-clr;
  font-weight: $fw-bold;
  cursor: pointer;
}
