// Import partials
@use './reset';
@use './variables' as *;
@use './mixins' as *;

/* Styles for body */
body {
	@include flex-center();
	background-color: $bg-clr;
	min-height: 100svh;
	padding: 1rem;
}

/* Styles for card */
.product-card {
	max-inline-size: $card-width-mobile;
	border-radius: $border-radius-md;
	overflow: hidden;

  // Media query for desktop
	@media (min-width: 48em) { 
    
		max-inline-size: $card-width-desktop;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
	}
}

/* Image styles for desktop */
.product-card__image {
	@media (min-width: 48em) {
    display: grid;
		place-items: center;   
	}
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* Styles for content */
.product-card__content {
	background-color: $card-bg-clr;
	padding: $space-2xl;
	color: $card-text-clr;
	font: {
		family: $ff-body;
		weight: $fw-medium;
		size: $fs-md;
	}

  // Media query for desktop
	@media (min-width: 48em) {  
		padding: $space-3xl;
	}
}

.product-card__ribbon {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: $fs-sm;
}

.product-card__title {
	font: {
		family: $ff-title;
		size: $fs-lg;
	}
	color: black;
	line-height: 1;
	margin-block: {
		start: $space-sm;
		end: $space-md;
	}

  // Media query for desktop
	@media (min-width: 48em) {
		margin-block: {
			start: $space-lg;
			end: $space-2xl;
		}
	}
}

.product-card__description {
	line-height: 1.6;
}

/* Styles for prices */
.product-card__prices {
	margin-block: {
		start: $space-md;
		end: $space-sm;
	}

  // Media query for desktop
	@media (min-width: 48em) {
		margin-block: {
			start: $space-2xl;
			end: $space-xl;
		}
	}
	display: flex;
	align-items: center;
	gap: $space-lg;

	span {
		font: {
			size: $fs-lg;
			family: $ff-title;
		}
		color: $btn-clr;
	}

	s {
		font-size: $fs-md;
		letter-spacing: -0.03em;
		position: relative;
	}
}

.sr-only {
  position: absolute;
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

/* CTA button  styles */
.product-card__btn {
	@include card-btn();
	@include flex-center($space-sm);
  @include btn-hover;
  @include btn-active;
  
}
