@use './reset';
@use './variables' as *;
@use './mixins' as *;

body {
  @include flex-center();
  background-color: $bg-clr; 
  min-height: 100svh;
}

.product-card {
  max-inline-size: $card-width-mobile;
  // border: 1px solid #d02323;
  border-radius: $border-radius-md;
  overflow: hidden;
}

.product-card__content {
  background-color: $card-bg-clr;
  padding: $space-2xl; //dc
  color: $card-text-clr;
  font: {
    family: $ff-body;
    weight: $fw-medium;
    size: $fs-md;
  }
}

.product-card__ribbon {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: $fs-sm;
}

.product-card__title {
  font: {
    family: $ff-title;
    size: $fs-lg;
  }
  color: black;
  line-height: 1;
  margin-block: {
    start: $space-sm;
    end: $space-md;
  }
}

.product-card__description {
  line-height: 1.6;
}

.product-card__prices {
  margin-block: {
    start: $space-md;
    end: $space-sm;
  }
  display: flex;
  align-items: center;
  gap: $space-lg;
  // @include flex;

  .product-card__price {
  font: {
    size: $fs-lg;
    family: $ff-title;
  }
  color: $btn-clr;
  }

  del {
    font-size: 14px;
    letter-spacing: -0.03em;
    position: relative;
  }

  @include sr-only ('[deletion start]', before);

  @include sr-only ('[deletion end]', after);
  
  

}

.product-card__btn {
  display: block;
  width: 100%;
  padding: 14px 0;
  border-radius: $border-radius-sm;
  border: none;
  background-color: $btn-clr;
  color: $card-bg-clr;
  font-weight: $fw-bold;
  @include flex-center($space-sm);
  // gap: $space-sm;
}



